[buildout]
# run with:
#     ./bootstrap.sh

extends =
    https://github.com/plone/buildout.coredev/raw/5.0/sources.cfg
    https://github.com/plone/buildout.coredev/raw/5.0/checkouts.cfg
    https://github.com/plone/buildout.coredev/raw/5.0/versions.cfg

parts +=
    coverage
    omelette
    code-analysis

develop = .

[versions]
borg.localrole =
setuptools =

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/Products
flake8-ignore = C901,E241
flake8-max-complexity = 20
clean-lines = False
imports = True
debug-statements = True
utf8-header = True

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = off
deprecation-warnings = on
blob-storage = var/blobstorage

eggs =
    borg.localrole
    ipdb

[test]
recipe = zc.recipe.testrunner
eggs =
    borg.localrole[test]
    ipdb
defaults = ['--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs =
    ${instance:eggs}
ignore-develop = true

[coverage]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '../../coverage', '-v', '--auto-progress']


[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/borg
flake8-ignore = C901,E241
flake8-max-complexity = 20
clean-lines = False
imports = True
debug-statements = True
utf8-header = True
